* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {

}

/* header */
.logo {
  float: left;
  height: 5rem;
  width: auto;
  margin: auto;
  padding: 1%;
}

/* footer */
.footer {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  background-color: rgb(196, 47, 47);
}

.donate {
  float: left;
  height: 3rem;
  width: auto;
  margin: auto;
  padding: 1%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
}

/* quiz & questions */

.container {
  max-width: 960px;
  margin: auto;
}

/* home */

h3 {
  text-align: center;
  margin: 1rem;
  padding: 2%;
}

/* button */

.button {
  display: block;
  margin: 0 auto;
  width: 14rem;
  text-align: center;
  background: red;
  padding: 20px;
}