* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* header */
.logo {
  height: 7rem;
  width: auto;
  margin: auto;
  padding: 1%;
}

/* footer */
.footer {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  background-color: rgb(196, 47, 47);
  background-attachment: scroll;
  margin: auto;
}

.donate {
  float: left;
  height: 3rem;
  width: auto;
  margin: auto;
  padding: 1%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  left: 15rem;
}

/* quiz & questions */

.container {
  max-width: 960px;
  margin: auto;
}

/* home */

h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 2%;
  font-family: 'Poppins', sans-serif;
}

/* button */

.button {
  display: block;
  margin: 0 auto;
  width: 14rem;
  text-align: center;
  background: rgb(196, 47, 47);
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 2rem;
}

.button:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
}

.quote {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-family: 'Poppins', sans-serif;
}

/* quiz */

h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
  width: 4rem;
  height: auto;
  margin: auto;
  padding: 5%;
}

.q-container {
  position: relative;
  left: 23rem;
}

h4 {
  text-align: center;
}

.options, .score {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-size: 24px;
  background-color: white;
  padding: 10px 60px;
  border-radius: 10px;
}
